.navbar-dark .navbar-nav .nav-link.active {
  background: #8a7469;
  border-radius: 5px;
  border: solid 1px #423732;
  color: white; }

.bg-matenegro {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/imgHome.jpg");
  color: white;
  background-size: cover; }

main.landing {
  margin-top: 58px; }
  main.landing .card-body.mi-card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #d1af73;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem; }
  main.landing h1 {
    color: #FFF; }
  main.landing .lead {
    color: #FFF; }
    main.landing .lead .btn {
      background: #CCC;
      color: #FFF; }

main.quiensoy {
  background: #EEEEEE; }
  main.quiensoy .img-bg {
    width: 100%;
    height: 450px;
    background-image: url("../img/imgQS.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }

main.productos .items-mn {
  background: #8a7469;
  color: white;
  position: relative;
  transition: ease-in-out 100ms; }
  main.productos .items-mn .ribbon {
    position: absolute;
    top: -9px;
    right: -9px; }
    main.productos .items-mn .ribbon p {
      position: absolute;
      transform: rotate(45deg);
      top: 28px;
      right: 0px;
      font-size: 75%; }
    main.productos .items-mn .ribbon img {
      max-width: 100px; }
  main.productos .items-mn:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    background: #6d5c53;
    cursor: pointer; }
  main.productos .items-mn.principal {
    background-color: #446282; }
    main.productos .items-mn.principal:hover {
      transform: scale(1.05);
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
      background: #324961; }

main .bg-contactame {
  background-color: #EEEEEE; }

main .destacados {
  padding: 50px;
  color: white; }

main.contacto .info-contacto {
  background: #212529;
  color: white;
  border-radius: 50px 0 50px 0;
  position: relative; }
  main.contacto .info-contacto .logo-blanco {
    max-height: 50px;
    position: absolute;
    bottom: 15px;
    right: 50px; }

main.contacto .img-bg {
  width: 100%;
  height: 300px;
  background: #CCC;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/tb2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

@media (max-width: 1023px) {
  main.quiensoy .p-5, main.contacto .p-5 {
    padding: 15px !important; }
  main.contacto img {
    max-width: 200px;
    padding-top: 20px; } }

.lista-productos-seleccionados li {
  text-align: left;
  padding: 10px 5px; }
  .lista-productos-seleccionados li span {
    opacity: 0; }
  .lista-productos-seleccionados li:hover {
    cursor: pointer; }
    .lista-productos-seleccionados li:hover span {
      color: #c75554;
      opacity: 1;
      transition: all 230ms; }
